:root{
background-color: #1A2F3A;
  --logo-height: 100px;
--header-height: 100px;
--aside-width:225px;
--footer-height: 40px;

--shadow:
    0 2px 23px 0 rgba(0,0,0,0.1),
    0 2px 49px 0 rgba(0,0,0,0.06);
}
*{

    box-sizing: border-box;
}
.app{
    margin: 0px;
    display: grid;
    grid-template-columns: 
    var(--aside-width)
    1fr;
    grid-template-rows: 
    var(--header-height) 
    1fr 
    var(--footer-height);
    
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr ; */
    grid-template-areas: 
    "logo header" 
    "menu content"
    "menu footer" ;
    height: 100vh;
    background-color: #F5F5F5;
}

aside.logo{
    grid-area: logo;
}

aside.menu-area{
    grid-area: menu;
}
main{
    grid-area: content;
}
footer{
    grid-area: footer;
}
header{
    grid-area: header;
}